@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}

h1 {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}

.wrapper {
  min-height: 100vh;
  /* 
  justify-content: center;
  align-items: center;
   */
}

/* ------------------ */
[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}

/* ================================ */
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
/* ================================ */
.header__background {
  background-color: #c6cacb;
}

.header {
  height: 90px;
  position: relative;
}

.header__block {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 30px;
  align-items: center;
}

@media (max-width: 720px) {
  .header__block {
    flex-direction: column;
  }
  .header__menu-list {
    max-width: 500px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: -35px;
  }
  .header {
    height: 150px;
  }
  .header__menu-list li {
    padding-bottom: 15px;
  }
}
.header__logo {
  font-family: Martel Sans;
  font-weight: 800;
  padding-top: 15px;
  transition-duration: 0.5s;
  display: flex;
  position: relative;
  top: 0;
}

.button {
  background-image: linear-gradient(rgb(55, 55, 55), rgb(94, 94, 94));
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.button:hover {
  background-size: 100% 2px, auto;
}

.header__menu-list {
  display: flex;
  justify-content: space-around;
  font-family: Libre Franklin;
  font-weight: 700;
  padding-bottom: 15px;
}

.header__menu-list li {
  padding-right: 35px;
}

.inherit {
  color: inherit;
}

/* ================NAVBAR================ */
.navbar-toggler {
  position: absolute;
  margin-left: 350px;
  margin-top: 9px;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
}

@media (min-width: 720px) {
  .navbar-toggler {
    visibility: hidden;
  }
  .menuvisible {
    visibility: hidden;
  }
}
@media (max-width: 721px) {
  .menuhidden {
    visibility: hidden;
  }
}
.menuvisible {
  margin-top: 20px;
  z-index: 200;
}

.navbar-toggler:hover {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.025rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #212529;
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 992px) {
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
}
.collapse:not(.show) {
  display: none;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* ================================ */
.textline {
  background-color: #ebebeb;
}

.textline__block {
  padding: 60px 0px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.textline__title {
  font-family: Martel Sans;
  padding-bottom: 10px;
  font-size: 30px;
  color: #8f8f8f;
}

.checkout__menu-list {
  display: flex;
  justify-content: space-around;
  width: 180px;
  font-family: Martel Sans;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 800;
}

/* ================================ */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
}

.form-control-sm {
  font-size: 0.875rem;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
}

.fw-bold {
  font-weight: 700;
}

.d-flex {
  display: flex;
}

.breadcrumb {
  display: flex;
  list-style: none;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.breadcrumb-item {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  content: "/";
  color: #ced4da;
}

.breadcrumb-item.active {
  color: salmon;
}

.justify-content-lg-end {
  justify-content: end;
}

.bg-new {
  background-color: red;
}

.badge {
  display: inline-block;
  padding: 0.35rem 0.65rem;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.product .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

/* ================================ */
/* ================================ */
.footer {
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #c6cacb;
}

.footer__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
}

.footer__block1 {
  padding: 15px;
}

.footer__block1-maintitle {
  font-family: Martel Sans;
  font-size: 30px;
  font-weight: 800;
}

.footer__block1-list {
  padding-top: 15px;
  font-family: Libre Franklin;
  font-size: 20px;
  font-weight: 800;
}

.footer__block1-list li {
  padding: 7px;
}

/* ================================ */
.copyright {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c6cacb;
}

.copyright__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
}

.copyright__block1 {
  font-family: Libre Franklin;
  font-size: 20px;
}

/* ================================ */